{% extends "base-patients.html" %}

{% block head_title %}<title>Usuarios: Detalles</title>{% endblock head_title %}

{% block h1_title %}Usuario: {{users_form.username}} {% endblock h1_title %}
{% block h1_subtitle %} {{users_form.lastname}}, {{users_form.name}} {% endblock h1_subtitle %}

{% block form %}
<ul>
    <li class='detailed_patient'> E-Mail: {{users_form.email}} </li>
    <li class='detailed_patient'> Nombre: {{users_form.first_name}} </li>
    <li class='detailed_patient'> Apellido: {{users_form.last_name}} </li>
</ul>
<br>
<div class="contact_bt_large"><a href={% url "accounts_edit_path" %}>Editar Perfil</a></div>
<div class="contact_bt_large"><a href={% url "accounts_edit_password_path" %}>Cambiar Contraseña</a></div>
{% block back_button %}<a class="back_buttom" href={% url "index_path" %}>Volver</a>{% endblock back_button %}
{% endblock form %}