{% extends "base-patients.html" %}

{% block head_title %}<title>Cambiar Contraseña</title>{% endblock head_title %}

{% block h1_title %}Cambiar Contraseña{{detailed_patient.id}} {% endblock h1_title %}

{% block form %}

<form action="" method="POST">
    {% csrf_token %}
    
    <table>
        {{form}}
    </table>
    
    <input class="send_buttom" type="submit" value="Cambiar Contraseña">
</form>

{% block back_button %}<a class="back_buttom" href={% url "accounts_view_path" %}>Volver</a>{% endblock back_button %}
{% endblock form %}