{% extends "base.html" %}

# Ediciones:
{% block head_title %}<title>Centros Nicolson</title>{% endblock head_title %}

{% block main %}

   <!-- banner section start -->
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-item active">
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Centro Nicolson<br><span style="color: #151515;">{% block index_type %}{% endblock index_type %}</span></h1>
                            
                            {% if request.user.is_authenticated %}
                            <div class="btn_main">
                                {% block bottons_index %}
                                {% endblock  %}
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- banner section end -->

{% endblock main %}