{% extends "base-patients.html" %}

{% block head_title %}<title>Registrarse</title>{% endblock head_title %}

{% block h1_title %}Bienvenido!{{detailed_patient.id}} {% endblock h1_title %}

{% block form %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="Email_text"> Usuario: {{authentication_form.username}} </div>
    <div class="Email_text"> Contraseña: {{authentication_form.password}} </div>
    <input class="send_buttom" type="submit" value="Iniciar Sesión">
</form>

{% endblock form %}