{% extends "base.html" %}

# Ediciones:
{% block head_title %}<title>Registro de Medicos</title>{% endblock head_title %}

{% block main %}

    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <h1 class="contact_taital">Registro de Medicos</h1>
            <div class="news_section_2">
                <div class="row">
                    <div class="contact_box">
                        <h1 class="book_text">Ingrese sus datos</h1>
                        <p>Felicidades por su token! Para finalizar su inscripcion al sistema, indique los siguientes datos!</p>
                        
                        {% comment %} DJANGO FORMS {% endcomment %}
                        
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% comment %} Por defecto, la etiqueta 'form' utiliza el method GET  {% endcomment %}
                            <div class="Email_text"> Nombre: {{doctors_form.name}}</div>
                            <div class="Email_text"> Apellido: {{doctors_form.lastname}}</div>
                            <div class="Email_text"> Especialidad: {{doctors_form.field}}</div>
                            <input class="send_buttom" type="submit" value="Crear">
                        </form>

                        {% block back_button %}<a class="back_buttom" href={% url "doctors_index_path" %}>Volver</a>{% endblock back_button %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
    {% endblock main %}