{% extends "base-patients.html" %}

{% block head_title %}<title>Busqueda de Pacientes</title>{% endblock head_title %}

{% block form %}

    <div class="contact_box">

        <form action="">
            <div class="search">
                <h1 class="book_text">Listado de Pacientes</h1>
                <input type="text" class="Email_text" placeholder="Apellido..." name='lastname'>
                <input class="search-bottom" type="submit" value="Buscar">
            </div>
        </form>

        <p class='patients_list'>
            <br>
            <p>(Id) Apellido, Nombre. </p>
            {% if list_of_patients %}
            <ul>
                {% for patient in list_of_patients %}
                <li>({{patient.id}}) - <b>{{patient.lastname}}</b>, {{patient.name}} </li>
                <li> | <a href={% url "patients_details_path" patient.id %}>Detalles</a> | <a href={% url "patients_modify_path" patient.id %}>Modificar</a> | <a href={% url "patients_delete_path" patient.id %}>Eliminar</a> |</li>
                <br>
                {% endfor %}
            </ul>
            {% else %}
            <p>No se encontraron coincidencias.</p>
            {% endif %}
        </p>

    </div>

{% block back_button %}<a class="back_buttom" href={% url "patients_index_path" %}>Volver</a>{% endblock back_button %}
{% endblock form %}