{% extends "base-patients.html" %}

{% block head_title %}<title>Pacientes: Detalles</title>{% endblock head_title %}

{% block h1_title %}Paciente: {{patients.id}} {% endblock h1_title %}
{% block h1_subtitle %} {{patients.lastname}}, {{patients.name}} {% endblock h1_subtitle %}

{% block form %}
<ul>
    <li class='detailed_patient'> Altura (mts.): {{patients.height}} </li>
    <li class='detailed_patient'> Peso (kg.): {{patients.weight}} </li>
    <li class='detailed_patient'> Glucemia (mg/dL): {{patients.bloodGlucose}} </li>
    <li class='detailed_patient'> Trigliceridemia (mg/dL): {{patients.triglycerides}} </li>
</ul>
<a class="back_buttom" href={% url "patients_search_path" %}>Volver</a>
{% endblock form %}